@model Project.Booking.Model.ProjectQuota
@using Project.Booking.Extensions;
<div class="modal fade" id="modal-prebook-transfer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f0f7f7; ">
                <h3 class="modal-title" style="padding-bottom: unset; color: maroon;"><i style="color:dimgrey;" class="fa fa-file-text-o "></i> แจ้งการโอนเงิน</h3>
            </div>
            <div class="modal-body " style="padding-top: 10px; max-height: calc(100vh - 212px); overflow-y: auto; ">
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">จำนวนสิทธิ์การจอง :</label>
                    </div>
                    <div class="col-md-8 col-xs-7 p-left-0">
                        <label class="lb-prebook">@Model.Quota สิทธิ์ (@(Model.TotalPrice.ToStringNumber()) บาท)</label>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">โอนเงินเข้า :</label>
                    </div>
                    <div class="col-md-8 col-xs-7 p-left-0">
                        <label class="lb-prebook">@Model.TransferBank</label>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">เลขที่บัญชี :</label>
                    </div>
                    <div class="col-md-8 col-xs-7 p-left-0">
                        <label class="lb-prebook">@Model.TransferAccountNo</label>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">วันที่โอน :</label>
                    </div>
                    <div class="col-md-4 col-xs-7 p-left-0">
                        <div class="input-group">
                            <input id="trans-date" type="text" class="form-control" aria-label="" placeholder="" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <span class="input-group-addon bg-orange"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">เวลา :</label>
                    </div>
                    <div class="col-md-4 col-xs-7 p-left-0" style="display:flex">
                        @{
                            var now = DateTime.Now;
                            var HH = now.Hour;
                            var mm = now.Minute;
                        }
                        <select  id="trans-hour" class="form-control" style="margin-right:5px;">
                            @for (int i = 1; i <= 24; i++)
                            {
                                <option @((i == HH) ? "selected" : "") value="@(i.ToString("00"))">@(i.ToString("00"))</option>
                            }
                        </select>
                        <select id="trans-minute" class="form-control" style="margin-right:5px;">
                            @for (int i = 0; i <= 59; i++)
                            {
                                <option @((i == mm) ? "selected" : "") value="@(i.ToString("00"))">@(i.ToString("00"))</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">จำนวนเงิน :</label>
                    </div>
                    <div class="col-md-8 col-xs-7 p-left-0">
                        <input type="text" id="trans-amount" class="decimal form-control" aria-label="" value="@Model.TotalPrice.ToStringNumber()">
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-4 col-xs-5 p-right-0">
                        <label class="lb-prebook">แนบไฟล์โอนเงิน :</label>
                    </div>
                    <div class="col-md-8 col-xs-7 p-left-0">
                        <form id="form-upload" method="post">
                            <input id="file-resource" class="" accept="image/*" type="file" name="AttachFile" onchange="Prebook.showImagePreview(this, document.getElementById('imagePreview1'))" >
                        </form>
                    </div>
                </div>
                <div class="row r-prebook">
                    <div class="col-md-12" style="margin-top:10px;">
                        <img id="imagePreview1" class="img-preview" width="100%" />
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="btn-payment-transfer" class="btn btn-sm btn-danger">ยืนยันการโอนเงิน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
