
@{
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
}

<div class="parallax first-section">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">*@
            <div class="col-md-6 col-sm-12">
                <div class="big-tagline clearfix">
                    @*<h2>ASSETWISE</h2>
                <h2>We build happiness</h2>
                <p class="lead"></p>*@
                </div>
            </div>
            <div class="col-md-6 wow slideInDown">
                <div class="row">
                    @*<div class="d-logo col-md-6 col-sm-6 col-xs-6 text-left">
                    <img class="img-logo" src="~/Resources/EQC030/Logo/Logo Atmoz บางนา-02.png" width="120" />
                </div>
                <div class="d-group col-md-6 col-sm-6 col-xs-6  text-right">
                    <div class="d-btn-group">
                        <button id="btn-login" class=" btn btn-ligh btn-brd grd1">เข้าสู่ระบบ</button>
                        <button id="btn-register" class="btn btn-ligh btn-brd grd1 grd-active">ลงทะเบียน</button>
                    </div>
                </div>*@
                    <div class="col-md-12 col-sm-12 col-xs-12  text-right">
                        <div class="d-btn-group">
                            <button id="btn-login" class=" btn btn-ligh btn-brd grd1 grd-active">Sign In</button>
                            @*<button id="btn-register" class="btn btn-ligh btn-brd grd1 grd-active" >Register</button>*@
                        </div>
                    </div>
                </div>
                <div class="contact_form" style="padding-top:5px;">
                    @Html.Partial("Partial_Register")
                    @Html.Partial("Partial_Login")
                    @Html.Partial("Partial_Forgot")
                </div>
            </div>
        </div><!-- end row -->
       
    </div><!-- end container -->
</div><!-- end section -->
@*@Html.Partial("Partial_Register_Success_2")*@
@Html.Partial("Partial_Register_Success")
@Html.Partial("Partial_Forgot_Success")
@section scripts{
    <script src="@Url.Content("~/Scripts/pages/Utility.js?ver=")@DateTime.Now.Ticks.ToString()" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Utility.init();
        });

    </script>
}